<br>
<div>
    <div class="span3 well formularioUpdate">
        <div class="text-right">
            <a href="#/admin"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></a>
        </div>
        <form accept-charset="UTF-8" name="formularioInsert" action="" method="post">
            <fieldset class="form-group">
                <label for="nombreEjercicio">Nombre</label>
                <input type="text" class="form-control" id="nombreEjercicio" ng-model="ejercicio.nombreEjercicio" ng-value="{{ejercicio.nombreEjercicio}}" ng-minlength="3" required>
                <span class="validacion" ng-show="formularioInsert.nombreEjercicio.$error.required && formularioInsert.nombreEjercicio.$dirty">El campo nombre es obligatorio. </span>
                <span class="validacion" ng-show="formularioInsert.nombreEjercicio.$error.minlength">El nombre debe tener mínimo 6 carácteres.</span>
            </fieldset>
            <fieldset class="form-group">
                <label for="descripcionEjercicio">Descripción</label>
                <textarea class="form-control" id="descripcionEjercicio" maxlength="295" rows="6" ng-model="ejercicio.descripcionEjercicio"></textarea>
            </fieldset>
            <fieldset class="form-group">
                <label for="categoriaEjercicio">Categoría</label>
                <select name="categoriaEjercicio" id="categoriaEjercicio" ng-model="ejercicio.categoriaEjercicio" class="form-control">
                    <option ng-repeat="option in categoria.categoriasDisponibles" value="{{option.name}}">{{option.name}}</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label for="cursoEjercicio">Curso</label>
                <select name="cursoEjercicio" id="cursoEjercicio" ng-model="ejercicio.cursoEjercicio" class="form-control">
                    <option ng-repeat="option in curso.cursosDisponibles" value="{{option.name}}">{{option.name}}</option>
                </select>
            </fieldset>

            <fieldset class="form-group">
                <label for="fechaEjercicio">Fecha</label>
                <datepicker>
                    <input id="fechaEjercicio" ng-change="changeDatepickerDate()" class="form-control" ng-model="ejercicio.fechaEjercicio"/>
                </datepicker>
            </fieldset>
            <fieldset class="form-group">
                <label for="observacionesEjercicio">Observaciones</label>
                <textarea class="form-control" id="observacionesEjercicio" maxlength="295" rows="6" ng-model="ejercicio.observacionesEjercicio"></textarea>
            </fieldset>
            <div class="text-right">
                <input ng-click="insertar()" type="submit" value="Insertar" class="btn btn-primary" ng-disabled="formularioInsert.$invalid"/>
            </div>

        </form>
    </div>
</div>
<br>

