<br>
<div>
    <div class="span3 well formularioUpdate">
        <div class="text-right">
            <a href="#/admin">
                <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
            </a>
        </div>

        <form accept-charset="UTF-8" id="formularioUpdate" action="" method="post" ng-controller="DeleteController">
            <fieldset class="form-group">
                <label for="idEjercicio">ID Ejercicio</label>
                <input type="text" class="form-control" id="idEjercicio" ng-model="ejercicio.idEjercicio" ng-value="{{ejercicio.idEjercicio}}" ng-readonly="true">
            </fieldset>
            <fieldset class="form-group">
                <label for="nombreEjercicio">Nombre</label>
                <input type="text" class="form-control" id="nombreEjercicio" ng-model="ejercicio.nombreEjercicio" ng-value="{{ejercicio.nombreEjercicio}}" ng-readonly="true">
            </fieldset>
            <fieldset class="form-group">
                <label for="descripcionEjercicio">Descripción</label>
                <textarea class="form-control" id="descripcionEjercicio" maxlength="295" rows="6" ng-model="ejercicio.descripcionEjercicio" ng-readonly="true"></textarea>
            </fieldset>
            <fieldset class="form-group">
                <label for="categoriaEjercicio">Categoría</label>
                <input type="text" class="form-control" id="categoriaEjercicio" ng-model="ejercicio.categoriaEjercicio" ng-readonly="true">
            </fieldset>
            <fieldset class="form-group">
                <label for="cursoEjercicio">Curso</label>
                <input type="text" class="form-control" id="categoriaEjercicio" ng-model="ejercicio.cursoEjercicio" ng-readonly="true">
            </fieldset>
            <fieldset class="form-group">
                <label for="fechaEjercicio">Fecha</label>
                <input type="text" class="form-control" id="fechaEjercicio" ng-model="ejercicio.fechaEjercicio" ng-readonly="true">
            </fieldset>
            <fieldset class="form-group">
                <label for="observacionesEjercicio">Observaciones</label>
                <textarea class="form-control" id="observacionesEjercicio" maxlength="295" rows="6" ng-model="ejercicio.observacionesEjercicio" ng-readonly="true"></textarea>
            </fieldset>
            <div class="text-right">
                <div ng-controller="FinalDeleteController" class="container">
                    <button ng-click="toggleModal()" class="btn btn-danger">Borrar</button>

                    <modal title="Login form" visible="showModal">
                        <form role="form">
                            <p>Seguro que desea borrar el ejercicio {{ejercicio.nombreEjercicio}}</p>
                            <button ng-click="borrar()" class="btn btn-danger">Borrar</button>
                        </form>
                    </modal>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
